/*#columns:hover .panel:not(:hover) {	opacity: 0.5; }*/

#columns:hover .panel:hover {
	border-color: #0077BB;
}
/*
#columns, #columns > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
*/

