.imc_filters_search {}
.imc_filters_buttons {
	margin: 0;
	display: inline-block;
	width: 100%;
	min-height: 70px;
	line-height: 70px;
	padding: 0 10px;
	clear:both;
}
.imc_btn_left {float: left;}
.imc_btn_right {float: right;}