.icon-48-issues {
      background-image: url(../images/l_issues.png);
      padding-left:60px!important;
}

.icon-48-issue {
      background-image: url(../images/l_issues.png);
      padding-left:60px!important;
}

.icon-48-steps {
      background-image: url(../images/l_steps.png);
      padding-left:60px!important;
}

.icon-48-step {
      background-image: url(../images/l_steps.png);
      padding-left:60px!important;
}

.icon-48-keys {
      background-image: url(../images/l_keys.png);
      padding-left:60px!important;
}

.icon-48-key {
      background-image: url(../images/l_keys.png);
      padding-left:60px!important;
}

.icon-48-logs {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.icon-48-log {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.icon-48-votes {
      background-image: url(../images/l_votes.png);
      padding-left:60px!important;
}

.icon-48-vote {
      background-image: url(../images/l_votes.png);
      padding-left:60px!important;
}

.icon-48-comments {
      background-image: url(../images/l_comments.png);
      padding-left:60px!important;
}

.icon-48-comment {
      background-image: url(../images/l_comments.png);
      padding-left:60px!important;
}

